## pandas program to read csv file and generate schema script for database table
<font color="green">
    <ul>
        <li>The goal of this program is to load CSV data into a local DB</li>
        <li>We will generate schema, create table using that script, and then load data in chunks</li>
        <li>Credits: Thanks to <a href="https://github.com/DataTalksClub/data-engineering-zoomcamp">DataEngineering Zoomcamp</a> for teaching this</li>
    </ul>
</font>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.0'

In [3]:
df = pd.read_csv('taxi+_zone_lookup.csv')
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [4]:
df.shape

(265, 4)

In [5]:
df.columns

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')