## pandas program to read csv file and generate schema script for database table
<font color="green">
    <ul>
        <li>The goal of this program is to load CSV data into a local DB</li>
        <li>We will generate schema, create table using that script, and then load data in chunks</li>
        <li>Credits: Thanks to <a href="https://github.com/DataTalksClub/data-engineering-zoomcamp">DataEngineering Zoomcamp</a> for teaching this</li>
    </ul>
</font>

In [109]:
import pandas as pd

In [110]:
pd.__version__

'2.2.0'

In [111]:
df = pd.read_csv('green_tripdata_2019-09.csv')
df.head()

/var/folders/w7/bjnp92015253vpp0xtyzp16c0000gn/T/ipykernel_17060/2011260604.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [112]:
df.shape

(449063, 20)

In [113]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [114]:
df.shape

(449063, 20)

#### list of datetime columns
#### set datetime type for those columns

In [115]:
datetime_cols_fun = lambda columns: [col for col in columns if col.endswith('_datetime')]
datetime_cols = datetime_cols_fun(df.columns)
print(datetime_cols)

['lpep_pickup_datetime', 'lpep_dropoff_datetime']

In [116]:
df[datetime_cols] = df[datetime_cols].apply(pd.to_datetime)

#### generate schema

In [117]:
from sqlalchemy import create_engine

In [118]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [119]:
print(pd.io.sql.get_schema(df, name= 'green_tripdata_2019_09.csv', con=engine))

CREATE TABLE "green_tripdata_2019_09.csv" (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

#### check if database exist before save

In [120]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_trips,root,None,True,False,False,False

#### read data and insert in chunks

In [121]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000, parse_dates = datetime_cols)
df = next(df_iter)

In [122]:
df.head(n=0).to_sql(name='green_taxi_trips',con = engine, if_exists='replace')
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_trips,root,None,True,False,False,False
1,public,green_taxi_trips,root,None,True,False,False,False

In [123]:
%time df.to_sql(name='green_taxi_trips',con = engine, if_exists='replace')

CPU times: user 5.73 s, sys: 198 ms, total: 5.93 s
Wall time: 11.1 s

1000

In [124]:
query = """
SELECT count(*) from green_taxi_trips;
"""
pd.read_sql(query, con=engine)

    count
0  100000

In [125]:
from time import time

In [126]:
try:
    while True:
        start_t = time()

        df = next(df_iter)

        df.to_sql(name='green_taxi_trips', con=engine, if_exists ='append') 

        end_t = time()
        print('inserted a chunk of data,  time taken: %.3f second'%(end_t-start_t))
except StopIteration:
    print('finished inserting all data')

inserted a chunk of data,  time taken: 11.218 second
inserted a chunk of data,  time taken: 11.030 second

/var/folders/w7/bjnp92015253vpp0xtyzp16c0000gn/T/ipykernel_17060/3864578137.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted a chunk of data,  time taken: 13.533 second
inserted a chunk of data,  time taken: 5.329 second
finished inserting all data

In [127]:
query = """
select count(*) from green_taxi_trips;
"""
pd.read_sql(query,con=engine)

    count
0  449063