In [1]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('taxi-data-groupby-test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/03 14:32:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/03 14:32:42 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

### green data

In [32]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [34]:
df_green.createOrReplaceTempView('green')

In [36]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [38]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-06 07:00:00| 241|            169.16|             6|
|2020-01-19 19:00:00|  41| 457.2400000000003|            43|
|2020-01-23 23:00:00| 129| 304.1300000000001|            22|
|2020-01-28 15:00:00| 129|            208.23|             9|
|2020-01-02 08:00:00|  74|1187.4199999999987|            96|
|2020-01-06 16:00:00| 129|250.42000000000002|            15|
|2020-01-07 10:00:00| 171|             38.98|             2|
|2020-01-09 15:00:00| 260| 242.6800000000001|            19|
|2020-01-16 20:00:00|  82| 424.1900000000001|            27|
|2020-01-21 16:00:00|  33| 917.3599999999994|            38|
|2020-01-08 17:00:00| 140|            313.81|             8|
|2020-01-22 08:00:00| 244| 285.3999999999999|            14|
|2020-01-30 14:00:00|  74| 738.6799999999996|            49|
|2020-01-03 07:00:00|  74| 918.9199999999993|            66|
|2020-01-11 13:00:00|  41| 859.2399999999992|            63|
|2020-01-16 15:00:00|  65| 376.4800000000001|            17|
|2020-01-15 17:00:00| 247|            121.57|             4|
|2020-01-05 18:00:00|  97| 513.1700000000002|            42|
|2020-01-03 11:00:00|  85|            162.22|             6|
|2020-01-28 13:00:00|  58|62.269999999999996|             2|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [40]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

24/03/02 22:27:02 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/02 22:27:02 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

#### yellow data

In [42]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [44]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [46]:
df_yellow_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-25 01:00:00| 186|2287.5599999999986|           128|
|2020-01-24 07:00:00| 186| 7247.550000000012|           483|
|2020-01-04 18:00:00| 161| 7807.060000000018|           487|
|2020-01-03 12:00:00| 186| 7301.100000000017|           418|
|2020-01-22 19:00:00| 140|           4461.66|           263|
|2020-01-21 13:00:00| 162| 8327.450000000013|           491|
|2020-01-06 20:00:00| 234|5267.8600000000015|           333|
|2020-01-23 12:00:00| 233| 3545.589999999998|           184|
|2020-01-15 13:00:00| 239| 4100.529999999999|           289|
|2020-01-17 08:00:00| 170| 7410.990000000011|           475|
|2020-01-22 21:00:00|  79| 6247.700000000006|           358|
|2020-01-15 15:00:00| 239| 5217.580000000002|           344|
|2020-01-11 18:00:00| 236| 9088.440000000017|           612|
|2020-01-12 17:00:00| 237|6503.3900000000085|           480|
|2020-01-03 13:00:00| 142| 5254.490000000004|           327|
|2020-01-21 07:00:00| 152|            182.22|            10|
|2020-01-18 21:00:00| 234|3880.4599999999964|           248|
|2020-01-23 09:00:00| 142|           4948.51|           326|
|2020-01-03 11:00:00| 132| 9066.160000000007|           177|
|2020-01-21 20:00:00| 141|3764.1099999999956|           249|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [48]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

24/03/02 22:27:28 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/02 22:27:28 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

### join two large tables

In [50]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [52]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [54]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [56]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|   4|              NULL|                NULL|1004.3000000000001|                   57|
|2020-01-01 00:00:00|  10|              NULL|                NULL|             42.41|                    2|
|2020-01-01 00:00:00|  56|             99.69|                   3|              18.1|                    2|
|2020-01-01 00:00:00|  61|            526.71|                  17|            146.64|                    3|
|2020-01-01 00:00:00|  65|199.49000000000004|                  10|            409.35|                   19|
|2020-01-01 00:00:00|  74|317.09000000000015|                  24| 586.2100000000002|                   47|
|2020-01-01 00:00:00|  88|              NULL|                NULL| 823.8000000000002|                   36|
|2020-01-01 00:00:00| 114|              NULL|                NULL| 6256.430000000008|                  333|
|2020-01-01 00:00:00| 116| 328.7600000000001|                  18| 561.5100000000001|                   34|
|2020-01-01 00:00:00| 159|              13.8|                   1|              58.8|                    2|
|2020-01-01 00:00:00| 165|             66.14|                   2|              NULL|                 NULL|
|2020-01-01 00:00:00| 189|            102.75|                   7|126.00999999999999|                   10|
|2020-01-01 00:00:00| 190|             61.97|                   4|              54.1|                    3|
|2020-01-01 00:00:00| 216|            181.37|                   6|            100.32|                    3|
|2020-01-01 00:00:00| 230|              NULL|                NULL|              24.8|                    1|
|2020-01-01 00:00:00| 233|              NULL|                NULL|2028.8199999999988|                  121|
|2020-01-01 00:00:00| 247|            117.66|                   5|               9.3|                    1|
|2020-01-01 00:00:00| 248|              NULL|                NULL|              25.5|                    1|
|2020-01-01 00:00:00| 249|              NULL|                NULL| 7790.170000000009|                  422|
|2020-01-01 00:00:00| 255| 666.3399999999998|                  28| 537.6600000000001|                   27|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [58]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

24/03/02 22:54:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

### join large table with small table(zones)

In [60]:
df_zones = spark.read.parquet('zones/')

In [62]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [64]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [66]:
df_result.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|LocationID|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|2020-01-01 00:00:00|   4|              NULL|                NULL|1004.3000000000001|                   57|         4|Manhattan|       Alphabet City| Yellow Zone|
|2020-01-01 00:00:00|  10|              NULL|                NULL|             42.41|                    2|        10|   Queens|        Baisley Park|   Boro Zone|
|2020-01-01 00:00:00|  56|             99.69|                   3|              18.1|                    2|        56|   Queens|              Corona|   Boro Zone|
|2020-01-01 00:00:00|  61|            526.71|                  17|            146.64|                    3|        61| Brooklyn| Crown Heights North|   Boro Zone|
|2020-01-01 00:00:00|  65|199.49000000000004|                  10|            409.35|                   19|        65| Brooklyn|Downtown Brooklyn...|   Boro Zone|
|2020-01-01 00:00:00|  74|317.09000000000015|                  24| 586.2100000000002|                   47|        74|Manhattan|   East Harlem North|   Boro Zone|
|2020-01-01 00:00:00|  88|              NULL|                NULL| 823.8000000000002|                   36|        88|Manhattan|Financial Distric...| Yellow Zone|
|2020-01-01 00:00:00| 114|              NULL|                NULL| 6256.430000000008|                  333|       114|Manhattan|Greenwich Village...| Yellow Zone|
|2020-01-01 00:00:00| 116| 328.7600000000001|                  18| 561.5100000000001|                   34|       116|Manhattan|    Hamilton Heights|   Boro Zone|
|2020-01-01 00:00:00| 159|              13.8|                   1|              58.8|                    2|       159|    Bronx|       Melrose South|   Boro Zone|
|2020-01-01 00:00:00| 165|             66.14|                   2|              NULL|                 NULL|       165| Brooklyn|             Midwood|   Boro Zone|
|2020-01-01 00:00:00| 189|            102.75|                   7|126.00999999999999|                   10|       189| Brooklyn|    Prospect Heights|   Boro Zone|
|2020-01-01 00:00:00| 190|             61.97|                   4|              54.1|                    3|       190| Brooklyn|       Prospect Park|   Boro Zone|
|2020-01-01 00:00:00| 216|            181.37|                   6|            100.32|                    3|       216|   Queens|    South Ozone Park|   Boro Zone|
|2020-01-01 00:00:00| 230|              NULL|                NULL|              24.8|                    1|       230|Manhattan|Times Sq/Theatre ...| Yellow Zone|
|2020-01-01 00:00:00| 233|              NULL|                NULL|2028.8199999999988|                  121|       233|Manhattan| UN/Turtle Bay South| Yellow Zone|
|2020-01-01 00:00:00| 247|            117.66|                   5|               9.3|                    1|       247|    Bronx|      West Concourse|   Boro Zone|
|2020-01-01 00:00:00| 248|              NULL|                NULL|              25.5|                    1|       248|    Bronx|West Farms/Bronx ...|   Boro Zone|
|2020-01-01 00:00:00| 249|              NULL|                NULL| 7790.170000000009|                  422|       249|Manhattan|        West Village| Yellow Zone|
|2020-01-01 00:00:00| 255| 666.3399999999998|                  28| 537.6600000000001|                   27|       255| Brooklyn|Williamsburg (Nor...|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [68]:
df_result.drop('LocationID', 'zone').show()

+-------------------+------------------+--------------------+------------------+---------------------+---------+------------+
|               hour|      green_amount|green_number_records|     yellow_amount|yellow_number_records|  Borough|service_zone|
+-------------------+------------------+--------------------+------------------+---------------------+---------+------------+
|2020-01-01 00:00:00|              NULL|                NULL|1004.3000000000001|                   57|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              NULL|                NULL|             42.41|                    2|   Queens|   Boro Zone|
|2020-01-01 00:00:00|             99.69|                   3|              18.1|                    2|   Queens|   Boro Zone|
|2020-01-01 00:00:00|            526.71|                  17|            146.64|                    3| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00|199.49000000000004|                  10|            409.35|                   19| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00|317.09000000000015|                  24| 586.2100000000002|                   47|Manhattan|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL| 823.8000000000002|                   36|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              NULL|                NULL| 6256.430000000008|                  333|Manhattan| Yellow Zone|
|2020-01-01 00:00:00| 328.7600000000001|                  18| 561.5100000000001|                   34|Manhattan|   Boro Zone|
|2020-01-01 00:00:00|              13.8|                   1|              58.8|                    2|    Bronx|   Boro Zone|
|2020-01-01 00:00:00|             66.14|                   2|              NULL|                 NULL| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00|            102.75|                   7|126.00999999999999|                   10| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00|             61.97|                   4|              54.1|                    3| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00|            181.37|                   6|            100.32|                    3|   Queens|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL|              24.8|                    1|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              NULL|                NULL|2028.8199999999988|                  121|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|            117.66|                   5|               9.3|                    1|    Bronx|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL|              25.5|                    1|    Bronx|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL| 7790.170000000009|                  422|Manhattan| Yellow Zone|
|2020-01-01 00:00:00| 666.3399999999998|                  28| 537.6600000000001|                   27| Brooklyn|   Boro Zone|
+-------------------+------------------+--------------------+------------------+---------------------+---------+------------+
only showing top 20 rows

In [70]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')

24/03/02 22:55:53 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers